
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rGraphicsSettings.xml
.idea/rpackages.xml
.idea/rSettings.xml
.idea/UVG-Reportes-Shiny.iml
.idea/vcs.xml
.Rproj.user
